@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url(../src//assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppins-extrabolditalic";
    src: url(../src//assets/fonts/Poppins-ExtraBoldItalic.ttf);
}